/* TODO: add reset.css suff */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab";
}

/* Header */
#logo {
  height: 64px;
  border: 1px solid black;
  /* flex items */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  /* flex items */
  display: flex;
  align-items: center;
}

#logo-image {
  margin-left: 24px;
  margin-right: 5px;
}

#logo-image img {
  height: 42px;
}

#title-two {
  font-size: 22.8px;
  color: grey;
}

nav {
  padding-right: 8px;
}

a {
  font-size: 22.8px;
  color: black;
  text-decoration: none;
  margin-right: 16px;
}

/* Start Here Section */
#main-banner {
  background-color: #b7bbb8;
  display: flex;
  align-items: center;
  align-content: center;
}

.banner-image {
  width: 60%;
  padding: 32px 24px;
}

.banner-image img {
  width: 100%;
}
#school-info .banner-image span {
  display: flex;
  padding: 32px 0;
}

.headline {
  /* font-family: helvetica; */
  width: 29%;
  padding-right: 13%;

  /* TODO: 1. find a font size that matches.
  2. find a width for this container */
}

.headline h1 {
  font-size: 55px;
  padding-bottom: 20px;
}

.headline p {
  font-size: 25px;
  padding-bottom: 20px;
}

#button {
  font-size: 24px;
  width: 100%
  /* margin: 8px 0 8x 0; */
  border: 1px solid black;
  color: white;
  background-color: grey;

  display: flex;
  justify-content: center;
}


/* School Info */ /* TODO: Align headlin-news image with main school banner image. */

#school-info {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

#school-info h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

#school-info span {
  margin-top: 32px;
}

#headline-news {
  width: 40%;
  margin-top: 16px;
}

.info {
  margin-bottom: 3px;
  border: 1px solid grey;
display: flex;
align-items: center;
}

.info img {
  width: 35%;
  height: auto;
  padding: 16px;
}


.info div {
  width: 65%;
  /* padding-left: 20px; */
}

.info h3 {
  padding-bottom: 8px;
}

.info p {
  padding-bottom: 8px;
}

.info span {
  color: blue;
}

/* School Courses */

#courses {
  width: 100%;
  padding-bottom: 32px;
  background-color: grey

}

#courses h2 {
  text-align: center;
  padding: 32px 0;
}
#course-titles {
  margin: 0 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-info {
  width: 31%;
  margin: 16px;
  background-color: white;
}

.course-info img {
  width: 100%;
  height: auto;
}

.course-info h3 {
  padding-top: 16px;
  padding-bottom: 8px;
}

.course-info span {
  padding-top: 8px;
}

.course-info p {
  padding-top: 8px;
}

/* Thesis */

#thesis {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 24px;
  display: flex;
}

#thesis {

}

.main-thesis {
  width: 60%;
}

.main-thesis video {
  width: 100%;
  padding-bottom: 24px;
}
.main-thesis h1 {
  padding-bottom: 8px;
}

#thesis-news {
  width: 40%;
  margin-left: 24px;
}

.exhibit {
  display: flex;
}

.exhibit img {
  width: 35%;
  padding: 16px;

}

.exhibit div {
  width: 65%;
  padding-left: 16px;
}

#thesis-news div {
  align-items: center;
}

div h3 {
  padding-bottom: 8px;
}

/* Footer */

footer {
  padding: 16px;
  margin-bottom: 50px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.footer {
  padding-left: 24px;
}

footer span:first-child {
  padding-right: 5px;
}
